:root {
    --bg-color: #ffffff;
    --accent-color: #6697e4;
    --text-color: #000000;
}

body {
    font-family: system-ui, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background: var(--accent-color);
    color: white;
    padding: 1rem;
}

header nav {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: left;
}

main {
    flex: 1;
    padding: 1rem;
    display: grid;
    gap: 2rem;
}



.book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0, 5rem;
}

.book-table th,
.book-table td {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    text-align: center;
    padding: 0.5rem;
}

.book-table th {
    background-color: var(--accent-color);
    color: white;
}

.book-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.book-table tr:hover {
    background-color: #e0f0ff;
}



form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-width: 700px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;

}

input,
select {
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1, 7rem;
    box-sizing: border-box;
}

input:focus,
select:focus,
option:focus {
    outline: 3px solid var(--accent-color);
    text-align: left;
}


.message {
    color: red;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.delete-btn:hover {
    background-color: #e60000;
}

button[type="submit"] {
    background-color: #4CAF50;
    /* green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
    background-color: #5fa562;
    transform: scale(1.005);
}

@media (max-width: 600px) {

    .book-table th,
    .book-table td {
        padding: 0.3rem 0.5rem;
    }

    .book-table {
        font-size: 1rem;
    }

}